#div_1{
    background-image: linear-gradient(to bottom right, #ff4b42, #F9D467, #ffdb7a, #ff4b42);
    width: 100%;
    height: 100%;
    text-align: center;
    border: 5px solid purple;
    /*margin-left: 350px;*/
}
li{
    text-align: center
}
.link:hover{
    background-color: darkblue;
}
#p_5{
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    color: red;
    text-decoration: underline;
}
#input_name{
    margin-left: 20px;
    width: 150px;
    height: 25px;
}
#btn_submit{
    color: white;
    background-color: darkred;
    font-size: 20px;
    padding: 10px;
}
.line{
    width: 50px;
    text-align: center;
    height: 10px;
    background-color: black;
    margin: 8px auto;
}
#writings{
    color: darkblue;
    text-decoration: underline;
}
#article_1{
    text-decoration: none;
    color: red;
}
#article_2{
    text-decoration: none;
    color: darkgreen;
}
#works{
    text-decoration: underline;
    color: darkmagenta;
    font-family: sans-serif;
}
#video{
    color: blueviolet;
    font-family: Arial Black;
    text-decoration: underline;
}
#gmail{
    text-decoration: none;
}
#instagram{
    text-decoration: none;
    text-align: left;
}
#contact_2 h3{
    display: inline;
}
#contact_2{
    background-color: aquamarine;
}
#nav{
    position: sticky;
    top: 0;
    z-index: 99999;
}
.travel_mainDiv{
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
.movie_head i{
    float: right;
}
.movie_text span{
    color: #ff7700;
}
.environment_li{
    margin-top: 13px;
}
.environment_li h4{
    border-bottom: 1px solid white;
    padding: 8px;
}
.environment_li img{
    border-radius: 25px;
}
.environment_li p{
    margin-top: 10px;
}